<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: page_head">
  <meta charset="UTF-8">
  <title>event page</title>
</head>
<body>

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<link rel="stylesheet" href="/Events.css">


<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

<nav th:replace="header :: page_navbar"></nav>

<th:block th:replace="header :: page_cart"></th:block>

<div class="head-container">

  <div class="events-header">
    <h1 class="events-title">All Events</h1>
  </div>
  <div class="events-divider"></div>




  <div class="content-container mb-3">
    <div class="row">
      <div class="category-container col-auto">
        <form method="get" th:action="@{/events}">
          <select class="form-select" id="category" name="category" onchange="this.form.submit()">
            <option value="All Categories" th:selected="${selectedCategory == 'All Categories'}">All Categories</option>
            <option value="Football" th:selected="${selectedCategory == 'Football'}">Football</option>
            <option value="Basketball" th:selected="${selectedCategory == 'Basketball'}">Basketball</option>
            <option value="Handball" th:selected="${selectedCategory == 'Handball'}">Handball</option>
            <option value="Others" th:selected="${selectedCategory == 'Others'}">Others</option>
          </select>
        </form>
      </div>
    </div>
  </div>



  <div class="event-container mt-3">
    <div class="row g-4">

      <div class="col-md-3" th:each="event : ${events}">
        <div class="card event-card shadow-sm">
          <img th:src="${event.imageUrl}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title" th:text="${event.eventName}">Event Name</h5>
            <p class="card-text">
              <span th:text="${#temporals.format(event.eventDate, 'MMMM dd, yyyy')}">Date</span> •
              <span th:text="${#temporals.format(event.eventTime, 'h:mm a')}">Time</span> •
              <span th:text="${event.location}">Location</span>
            </p>

            <a th:href="@{/events/booking/{id}(id=${event.id})}" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>









<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>

</body>
</html>
