<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: page_head">
  <meta charset="UTF-8">
  <title>Sign up</title>
</head>
<body>

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<link rel="stylesheet" href="sign_up.css">

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">


<nav th:replace="header :: page_navbar"></nav>

<div class="container">

  <form class="login_form ">
    <div class="mb-3 rounded p-5 " >
      <h2 class="text-center  mt-3">Sign Up</h2>

      <label for="exampleFormControlInput1" class="form-label ">User Name</label>
      <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Enter Your Name">

      <label for="exampleFormControlInput2" class="form-label ">Email address</label>
      <input type="email" class="form-control mb-3" id="exampleFormControlInput2" placeholder="name@example.com">

      <label for="exampleFormControlInput3" class="form-label">Password</label>
      <input type="password" class="form-control mb-3" id="exampleFormControlInput3">

      <label for="exampleFormControlInput4" class="form-label">Confirm Password</label>
      <input type="password" class="form-control mb-3" id="exampleFormControlInput4">

      <button type="submit" class="btn btn-primary w-100">Register</button>
    </div>




  </form>

</div>




<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>
</html>